build: off

image:
  - Ubuntu # https://www.appveyor.com/docs/linux-images-software/

clone_folder: /github.com/aliyun/tea-util

stack: python 3

environment:
  matrix:

  - job_name: go_task0
    job_group: go_task
    go: 1.11.x

  - job_name: go_task1
    job_group: go_task
    go: 1.12.x

  - job_name: go_task2
    job_group: go_task
    go: 1.13.x

  - job_name: go_task3
    job_group: go_task
    go: 1.14.x

  - job_name: go_task4
    job_group: go_task
    go: 1.15.x

  - job_name: java_task1
    job_group: java_task
    jdk: openjdk8

  - job_name: nodejs_task1
    job_group: nodejs_task
    node: 12

  - job_name: net_task1
    job_group: net_task

  - job_name: python_task1
    job_group: python_task

for:

  -
    matrix:
      only:
        - job_group: go_task

    build_script:
    - cd golang/
    - export GO111MODULE=on
    - go mod tidy
    - go test -race -coverprofile=coverage.txt -covermode=atomic ./service/...

  -
    matrix:
      only:
        - job_group: java_task

    build_script:
    - JVAR=JAVA_HOME_8_X64 # https://github.com/appveyor-tests/jdk-versions-linux/blob/master/appveyor.yml
    - export JAVA_HOME=${!JVAR}
    - export PATH=$JAVA_HOME/bin:$PATH
    - cd java/
    - java -version
    - mvn test -B

  -
    matrix:
      only:
        - job_group: nodejs_task

    build_script:
    - cd ts/
    - nvm use ${node} # use the desired node version defined above
    - npm install
    - npm run test-cov

  -
    matrix:
      only:
        - job_group: python_task

    build_script:
    - export PYTHONPATH=$PYTHONPATH:`pwd`/python
    - echo $PYTHONPATH
    # install
    - cd python
    - pip install coverage
    - pip install alibabacloud-tea
    - pip install pytest
    - coverage run --source="./alibabacloud_tea_util" -m pytest tests/test_*

  -
    matrix:
      only:
        - job_group: net_task

    build_script:
    - wget https://download.visualstudio.microsoft.com/download/pr/42f39f2f-3f24-4340-8c57-0a3133620c21/0a353696275b00cbddc9f60069867cfc/dotnet-sdk-2.2.110-linux-x64.tar.gz
    - mkdir -p ~/dotnet/ && tar zxf dotnet-sdk-2.2.110-linux-x64.tar.gz -C ~/dotnet/
    - sudo ln -sf ~/dotnet/dotnet /usr/bin/dotnet
    - dotnet --info
    - cd csharp/tests/
    - dotnet tool install --global altcover.visualizer
    - dotnet restore
    - dotnet build

after_test:
  - bash <(curl -s https://codecov.io/bash)
