node_modules/*
output/
.DS_Store
.history/
coverage.out
ts/node_modules/
*.tgz
ts/.nyc_output
ts/coverage
ts/dist
coverage.html
csharp/**/bin/
csharp/**/obj/
csharp/**/.vs/
.idea
target/
*.iml
java/.project
java/.settings/
java/bin/
java/.classpath
.vscode/
cc/*.o
*.sum