jobs:
  include:
    - language: go
      go: 1.12.x
      if: branch = master
      script:
        - cd go
        - export GO111MODULE=on
        - go mod tidy
        - go test -race -coverprofile=coverage.txt -covermode=atomic ./service/... ./utils...
      after_success:
        - bash <(curl -s https://codecov.io/bash) -cF go
    - language: java
      jdk: openjdk8
      if: branch = master
      script:
        - cd java
        - mvn test -B
      after_success:
        - bash <(curl -s https://codecov.io/bash) -cF java
    - language: csharp
      mono: none
      dist: xenial
      if: branch = master
      before_install:
        - wget https://download.visualstudio.microsoft.com/download/pr/42f39f2f-3f24-4340-8c57-0a3133620c21/0a353696275b00cbddc9f60069867cfc/dotnet-sdk-2.2.110-linux-x64.tar.gz
        - mkdir -p ~/dotnet/ && tar zxf dotnet-sdk-2.2.110-linux-x64.tar.gz -C ~/dotnet/
        - sudo ln -sf ~/dotnet/dotnet /usr/bin/dotnet
        - dotnet --info
      install:
        - cd csharp/tests
        - dotnet tool install --global altcover.visualizer
        - dotnet restore
        - dotnet build
        - cd ../
      script:
        - dotnet test tests/ /p:AltCover=true
      after_success:
        - bash <(curl -s https://codecov.io/bash) -cF csharp
    - language: node_js
      node_js: 12
      if: branch = master
      script:
        - cd ts
        - npm install
        - npm run test-cov
      after_success:
        - bash <(curl -s https://codecov.io/bash) -cF node_js
    - language: php
      php:
        - 5.5
        - 5.6
        - 7.0
        - 7.1
        - 7.2
        - 7.3
      install:
        - composer --version
        - travis_retry composer update --no-interaction --prefer-source
      script:
        - composer test
      after_success:
        - bash <(curl -s https://codecov.io/bash) -cF php
