name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
defaults:
  run:
    shell: bash
    working-directory: golang
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
    
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      
    - name: Export Env
      run: export GO111MODULE=on
    - name: Build
      run: go mod tidy
    - name: Test
      run: go test -race -coverprofile=coverage.txt -covermode=atomic ./service/...
    - name: CodeCov
      run: bash <(curl -s https://codecov.io/bash) -cF golang
